<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <title>SearchBooks</title>

    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.0/css/font-awesome.min.css">
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Material core CSS -->
    <link href="/stylesheets/Material/css/materialize.css" rel="stylesheet">
    <link href="/stylesheets/Material/css/materialize.min.css" rel="stylesheet">
    <!-- Bootstrap core CSS -->
    <link href="/bootstrap.min.css" rel="stylesheet">

    <!-- Material Design Bootstrap -->
    <link href="/mdb.min.css" rel="stylesheet">

    <!-- Template styles -->
    <style rel="stylesheet">
        /* TEMPLATE STYLES */

        main {
            padding-top: 3rem;
            padding-bottom: 2rem;
        }

        .extra-margins {
            margin-top: 1rem;
            margin-bottom: 2.5rem;
        }

        .navbar {
            background-color: #3b3b3f;
        }

        footer.page-footer {
            background-color: #3b3b3f;
            margin-top: 2rem;
        }
    </style>

</head>

<body>

    <header>

        <!--Navbar-->
        <nav class="navbar navbar-toggleable-md navbar-dark">
            <div class="container">
                <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNav1" aria-controls="navbarNav1" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <a class="navbar-brand" href="#">
                    <strong>StoreOABook</strong>
                </a>
                <div class="collapse navbar-collapse" id="navbarNav1">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item" hidden>
                            <a class="nav-link">Home <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item" hidden>
                            <a class="nav-link">Features</a>
                        </li>
                        <li class="nav-item" hidden>
                            <a class="nav-link">Pricing</a>
                        </li>
                    </ul>
                    <form class="form-inline waves-effect waves-light right">
                        <input class="form-control" type="text" placeholder="Search">
                    </form>
                </div>
            </div>
        </nav>
        <!--/.Navbar-->

    </header>

    <!--modal Stucture add-->
    <div class="modal bd-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-sm">
            <!--Content-->
            <div class="modal-content">
                <!--Header-->
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title" id="myModalLabel">Form User</h4>
                </div>
                <!--Body-->
                <form class="" action="/users/adduser" method="post">
                <div class="modal-body">

                    <div class="md-form">
                        <i class="fa fa-user prefix"></i>
                        <input type="text" name="name" value="" id="form4" class="form-control">
                        <label for="form4">Your Name</label>
                    </div>

                    <div class="md-form">
                        <i class="fa fa-envelope prefix"></i>
                        <input type="text" name="email" value="" id="form2" class="form-control">
                        <label for="form2">Your Email</label>
                    </div>

                </div>
                <!--Footer-->
                <div class="modal-footer flex-column">
                    <button type="submit" class="btn btn-primary ml-auto">Save</button>
                </div>
              </form>
            </div>
            <!--/.Content-->
        </div>
    </div>
    <!--/modal Stucture add-->
    <!--modal Stucture edit-->
    <%users.forEach((user)=>{%>

    <div class="modal m<%=user.id%>" aria-labelledby="mySmallModalLabel" aria-hidden="true">

        <div class="modal-dialog modal-sm">
            <!--Content-->
            <div class="modal-content">
                <!--Header-->
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title" id="myModalLabel">Form User</h4>
                </div>
                <!--Body-->
                <form class="" action="/users/edit/<%=user.id%>" method="post">
                <div class="modal-body">

                    <div class="md-form">
                        <i class="fa fa-user prefix"></i>
                        <input type="text" name="name" value="<%=user.name%>" id="form4" class="form-control">
                    </div>

                    <div class="md-form">
                        <i class="fa fa-envelope prefix"></i>
                        <input type="text" name="email" value="<%=user.email%>" id="form2" class="form-control">
                    </div>

                </div>

                <!--Footer-->
                <div class="modal-footer flex-column">
                    <button type="submit" class="btn btn-primary ml-auto">Save</button>
                </div>
              </form>
            </div>
            <!--/.Content-->

        </div>
    </div>
    <%})%>

    <!--/modal Stucture edit-->

    <main>

        <!--Main layout-->
        <div class="container">
            <!--First row-->
            <div class="row wow fadeIn" data-wow-delay="0.2s">
                <div class="col-lg-7">
                    <!--Featured image -->
                    <div class="view overlay hm-white-light z-depth-1-half">
                        <img src="http://mdbootstrap.com/img/Photos/Slides/img%20%2877%29.jpg" class="img-fluid " alt="">
                        <div class="mask">
                        </div>
                    </div>
                    <br>
                </div>

                <!--Main information-->
                <div class="col-lg-5">
                    <h2 class="h2-responsive">List of Users</h2>
                    <hr>
                    <p>Place you can add list of user</p>
                    <a data-target=".bd-example-modal-sm" data-toggle="modal" class="modal-trigger btn-floating btn-large waves-effect waves-light teal lighten-1"><i class="material-icons">add</i></a>
                </div>
            </div>
            <!--/.First row-->